/* Temel stil dosyası */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #20232A;
    color: #61dafb;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: hsl(224, 30%, 24%);
    color: #61dafb;
    padding:10px;
    text-align: center;
}


  /* İki resmi yan yana getirmek için flex kullanalım */
.marvel-box {
    display: flex;
}

/* İki resmin arasındaki boşluğu ayarlamak için gerektiğinde margin ekleyebilirsiniz */
.marvel-box img {
    margin-right: 60px; /* İstenilen boşluk miktarını ayarlayabilirsiniz */
}


  body {
    background-color: #57131e;
  }


  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(90deg, hsl(0, 81%, 17%), #b87777b9, hsl(0, 81%, 17%));
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
}


h1{
    font-size: 9rem;
    color: #ffffff;
}

form {
    display: flex;
    width: 170%;
    justify-content: center;
    align-items: center;
    margin: 0rem 0;
}

input, 
button{
    background-color: #ffffff;
    font-size: 1rem;
    border: ;
    padding: 1px 0px;
}

input {
    font-weight: bold;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
}





/* Arka plan rengini veya arka plan resmini ayarlayalım */
p {
    color: #ffffffa8;


}

h2 {
    color: #000000;
}